body {
  margin: 0;
  padding: 0;
}

.mainWrapper {
  min-height: 650px;
  min-width: 800px;
  /* if it is less than 800px the grid might not render properly */
  max-width: 1300px;
  margin: 10px auto 0 auto;
}

.heading {
  font-family: 'Press Start 2P', cursive;
  color: #eccc68;
  text-align: center;
}

.Body {
  text-align: center;
}

.playButton {
 border-radius: 100px;
 border: 2px solid black;
 border: 0;
 box-shadow: 0 3px 6px rgba(0,0,0  ,0.16), 0 3px 6px rgba(0,0,0,0.23);
 cursor: pointer;
 font-size: 1.2em;
 outline: none;
 padding: 1em 2em;
 width: 300px;
}

.wrapper-div {
  padding: 150px;
}


footer {
  text-align: center;
}

/* implement the board */
.Board {
  text-align: center;
  max-width: 320px;
  /* I need to control the width so the right side does not get too long */
  margin: auto;
  /* use margin: auto to center the element */
}

.row {
  height: 100px;

}
.col {
  height: 100px;
  width: 100px;
  float: left;
  font-size: 100px;
  text-align: ce nter;
  line-height: 100px;
}

.col:hover {
  background-color: gold;
  cursor: pointer;
}

.border-b {
  border-bottom: 10px solid black;
}

.border-r {
  border-right: 10px solid black;
}

/* the below is the menu, which will show up when the game is finished */

.menu {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.playAgainButton {
  margin: 10px;
  border-radius: 100px;
  border: 2px solid black;
  border: 0;
  box-shadow: 0 3px 6px rgba(0,0,0  ,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
  padding: 1em 2em;
  width: 120px;
}

.goBackButton {
  margin: 10px;
  margin: 10px;
  border-radius: 100px;
  border: 2px solid black;
  border: 0;
  box-shadow: 0 3px 6px rgba(0,0,0  ,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
  padding: 1em 2em;
  width: 120px;
}
